{# src/Ram/SavonBundle/Resources/views/Produit/edit.html.twig #}

{% extends "RamSavonBundle::layout.html.twig" %}

{% block title %}
	Modifier un produit - {{ parent() }}
{% endblock %}

{% block ram_savon_body %}

	<h2>Modifier un produit</h2>
	{{ include("RamSavonBundle:Produit:form.html.twig") }}
	<p> Vous éditez un produit déjà existant. </p>

	<p>
		<a  href="{{ path('ram_produit_view', {'id': produit.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i> Retour au produit
		</a>
	</p>

{% endblock %}