{# src/Ram/SavonBundle/Resources/views/Ingredient/edit.html.twig #}

{% extends "RamSavonBundle::layout.html.twig" %}

{% block title %}
Modifier un ingredient - {{ parent() }}
{% endblock %}

{% block ram_savon_body %}

<h2>Modifier un ingredient</h2>

{{ include("RamSavonBundle:Ingredient:form.html.twig") }}

<p>Vous éditez un ingredient déjà existant.</p>

<p>
	<a  ="{{ path('ram_ingredient_view', {'ingredient_id': ingredient.id}) }}" class="btn btn-default">
		<i class="glyphicon glyphicon-chevron-left"></i>
		Retour aux ingredients
	</a>
</p>

{% endblock %}