
{# src/Ram/SavonBundle/Resources/views/Ingredient/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
  	{% for ingredient in listIngredients %}
    	<li>
      		<a href="{{ path('ram_savon_view', {'ingredient_id': ingredient.id}) }}">
        		{{ ingredient.title }}
     		</a>
    	</li>
  	{% endfor %}
</ul>