{# src/Ram/SavonBundle/Resources/views/Accueil/index.html.twig #}

{% extends "RamSavonBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block ram_savon_body %}
	<h1>Tableau de Bord</h1>
	<hr>

	<table class="table table-striped table-hover">
		<thead>
			<tr class="info"> <td>Id</td> <td>Nom du produit</td> <td>Type</td> <td>Date</td></tr>
		</thead>
		<tbody>
		</tbody>
	</table>

{% endblock %}